In [1]:
# ranking.ipynb
'''read a .csv file and calculate the total score and the rank of each student.'''

'read a .csv file and calculate the total score and the rank of each student.'

In [2]:
import pandas as pd

We first calculate the total score of each student and sort `grades` by total score in descending order.  
Then we give each student a rank based on the relation of each consecutive pair of students. If their total scores are the same, give them the same rank.  
Finally, we sort `grades` again by their name.

In [3]:
grades = pd.read_csv('grades.csv',index_col=0)
grades['total'] = grades['math'] + grades['physics'] + grades['algebra']
grades = grades.sort_values(by=['total'], ascending=False)

grades['rank'] = 1
cont = 1
for i in range(1, len(grades)):
  if grades['total'][i] == grades['total'][i - 1]:
    grades['rank'][i] = grades['rank'][i - 1]
    cont += 1
  else:
    grades['rank'][i] = grades['rank'][i - 1] + cont
    cont = 1
grades = grades.sort_values(by=['name'])
grades

       math  physics  algebra  total  rank
name
joe      90       82       87    259     2
mary     82       84       90    256     3
peter    77       82       81    240     5
tim      88       83       77    248     4
tom      90       95       88    273     1